/*ELEMENT SELECTOR*/
body{
	background: lightblue;
}
ul{
	border: 2px dashed yellow;
}

/*ID SELECTOR*/
#spain{
	background: red;
}
#dsa{
	background: green;
}
#webdev{
	background: yellow;
}

/*CLASS SELECTOR*/
.check{
	text-decoration: line-through;
}
